{% extends "base.html" %}

{% block content %}

<h1 class="title">{{field.name}}</h1>
<table class="pure-table">
    <tr>
        {% for hour, res in hours2res.items %}
            {% if res %}
                <td>{{ hour }}</td>
            {% else %}
                <td>
                {% if res_date %}
                    <a class="cell-click" href="{% url 'reservations:field.reserve.date' field_id res_date hour %}">{{ hour }}</a>
                {% else %}
                    <a class="cell-click" href="{% url 'reservations:field.reserve' field_id hour %}">{{ hour }}</a>
                {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
</table>
</div>

{% endblock %}