{% extends "base.html" %}

{% block content %}

<br/>
Venue - {{object.name}}
<br/>
<br/>

{% comment %}
<table class="pure-table">
        <tr>
            <th>Field Name</th>
        </tr>
    {% for field in object.field_set.all %}
        <tr>
            <td><a href="{% url 'reservations:field.detail' field.id %}">{{ field.name }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endcomment %}


<table class="pure-table">
{% for field_id, field_hours2res in all_fdvm.items %}
    <tr>
        <td>{{field_hours2res.0.name}}</td>
        {% for hour, res in field_hours2res.1.items %}
            {% if res %}
                <td>{{ hour }}</td>
            {% else %}
                <td>
                {% if fdvm.res_date %}
                    <a class="cell-click" href="{% url 'reservations:field.reserve.date' field_id fdvm.res_date hour %}">{{ hour }}</a>
                {% else %}
                    <a class="cell-click" href="{% url 'reservations:field.reserve' field_id hour %}">{{ hour }}</a>
                {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>


{% endblock %}